/* Google fonts import : font-family: 'Lato', sans-serif, font-family: 'Poor Story', system-ui;*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poor+Story&display=swap');

/* Asterisk wildcard selector to override default styles from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}	

.heading {
	text-align: center;
	max-height: 100px;
} 

.logo {
	width: 400px;
    height: auto;
    margin-top: 5px;
    max-height: 100px;
    max-width: 70vw;
}

.background {
	height: 100%;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.game-area {
	background-color: darkgray;
	width: 100vw;
	height: 100hv; 
}

.game-plan1 {
	background-color: gray;
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    max-width: 500px;
    height: 85vw;
    max-height: 500px;
    padding:5px;
}


.game-plan2 {
	background-color: rgb(71, 71, 71);
	margin-left: auto;
    margin-right: auto;
    width: 85vw;
    max-width: 500px;
    height: 85vw;
    max-height: 500px;
    padding:5px;
}

.card {
	width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    background-color: whitesmoke;
    border-radius: 50%;
    text-align: center;
    justify-content: space-between;
    display: flex;	
}

.card > * {
    width:calc(100% / 3);
    padding:3rem 1rem;    
}

#card1 {
					 
}

#card2 {

}

.row {
    display: table-row;
    max-width: 65%;
}

.cell {
    display: table-cell;
    height: 33%;
    font-size: 240%;
}

.score-board {

}

.count-down {

}