/* Google fonts import : font-family: 'Lato', sans-serif, font-family: 'Poor Story', system-ui;*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* Asterisk wildcard selector to override default styles from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}	
/* Heading */
.heading {
	text-align: center;
    max-height: 90px;
} 
/* Logo */
.logo {
	width: 400px;
    height: auto;
    margin-top: 5px;
    max-height: 90px;
    max-width: 70vw;
}
#logotext {
    font-family: 'Lato', sans-serif;
    font-size: 110%;
    font-weight: bold;
}
/* Backgrund Div */
.background {
	width: 100%;
    max-width: 1024px;
    height: 100%;
    display: flex;
}
/* Progress bar on top for countdown timer */
#progressBar {
    width: 100vw;
    height: 1rem;
}
/* Game area Div */
.game-area {
	background-color: darkgray;
	width: 100vw;
    height: 100vh; 
    margin-left: auto;
    margin-right: auto;
}
/* Game Section 1 */
.game-section1 {
	background-color: lightgray;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    max-width: 400px;
    height: 85vw;
    max-height: 400px;
    padding:5px;
}
/* Game Section 1 */
.game-section2 {
	background-color: whitesmoke;
    border-radius: 50%;
	margin-left: auto;
    margin-right: auto;
    width: 85vw;
    max-width: 400px;
    height: 85vw;
    max-height: 400px;
    padding:5px;
}
/* Info Box */
.info-box {
    display:flex;
    justify-content: space-evenly;
    width: 100vw;
    height:auto;
    background-color: white;
}
/* Info Box button and p */
.info-box button,
.info-box p  {
    text-align: center;
    border-radius: 15px 15px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    color:black; 
    font-weight: 900;
    font-size: 120%;
}
/* Final Score and Time is Up Windows */
#finalScoreInfo,
#timeisUpInfo {
    display:none;
    position: fixed;
    width: 90vw;
    max-width: 600px;
    height:auto;
    border-radius: 20px;
    margin-left: 5vw;
    background-color: rgba(9, 9, 9, 0.9);
    text-align: center;

}
/* Final Score p elements */
#finalScoreInfo p,
#timeisUpInfo p {
    padding-top: 5%;
    text-align: center;
    font-family: 'Lato', sans-serif; 
    font-size: 200%;
    color: whitesmoke;
}
/* Final Score and Time is Up span elements */
#finalScoreInfo span,
#timeisUpInfo span {
    font-family: 'Lato', sans-serif; 
    font-weight: 900;
    font-size:xxx-large;
}
/* Final Score and Time is Up buttons */
 #finalScoreInfo button,
#timeisUpInfo button { 
    font-family: 'Lato', sans-serif; 
    color:black;
    font-size: x-large;
    font-weight: bold;
    width: 90vw;
    max-width: 600px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 20px;
}
/* Score Board */
.score-board {
    height:10%;
    width:20%;
    background-color: white;
    border-radius: 10% 10%;
}
/* Score Board span elements*/
.score-board span,
.count-down span {
    font-family: 'Lato', sans-serif; 
    font-size: 150%;
    font-weight: 900;
}
/* Count Down */
.count-down {
    height:10%;
    width:20%;
    background-color: white;
    border-radius: 10% 10%;
}
/* Card div */ 
.card {
	width: 80%;
    max-width: 400px;
    height: 80%;
    max-height: 400px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display:table;
    table-layout:fixed;
    border-collapse: collapse;
}
/* Play Card divs */
.card > * {
    text-align: center;
 }
/* Table rows on Card */
 .row {
    display: table-row;
}
/* Table cells on Card */
.cell {
    height: 50px;
    width: 50px;
    display: table-cell;
}
/* Images in table cells on Cards */
.cell i {
	font-size: 300%;
    border-radius: 30%;
}

/* Media query: Screen width (360px and up) */
@media screen and (min-width: 360px) {
    .cell i {
        font-size: 400%;
        padding-top: 15%;
        padding-bottom: 15%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .card {
    margin-top: 5%;
    }
}

/* Media query: Screen width (390px and up) */
@media screen and (min-width: 390px) {
    .card {
        margin-top: 7%;
        }
    .nav-toggle-label {
        font-size: 3rem;
    } 
}

/* Media query: Screen width (430px and up) */
@media screen and (min-width: 430px) {
    .card {
        margin-top: 7%;
        }

    .cell i {
            font-size: 450%; 
    }
}
/* Media query: Screen width (450px and up) */
@media screen and (min-width: 450px) {
    .card {
        margin-top: 5%;
        }

    .cell i {
            font-size: 500%;    
    }
    .nav-toggle-label {
        font-size: 4rem;
    }
    .info-box button {
        width: 200px;
    }
}

/* Media query: Screen width (768px and up) */
@media screen and (min-width: 768px) {
    .heading {
        text-align: center;
        max-height: 150px;
    } 
    .logo {
    max-height: 150px;
    max-width: 60vw;
    }
    #finalScoreInfo,
    #timeisUpInfo {
        margin-left:13vw;
    }
    .cella i:hover {
        background-color: whitesmoke;
      }
    .cellb i:hover {
        background-color:lightgray;
        ;
    }
    .nav-toggle-label {
        font-size: 4.5rem;
    }
}

/* Media query: Screen width (900px and up) */
@media screen and (min-width: 900px) {
    #finalScoreInfo,
    #timeisUpInfo {
        margin-left:19vw;
    }
}

/* Media query: Screen width (1024px and up) */
@media screen and (min-width: 1024px) {
    #finalScoreInfo,
    #timeisUpInfo {
        margin-left:21vw;
    }
}

/* Media query: Screen width (1100px and up) */
@media screen and (min-width: 1100px) {
    #finalScoreInfo,
    #timeisUpInfo {
        margin-left:23vw;
    }
}

/* Media query: Screen width (1200px and up) */
@media screen and (min-width: 1200px) {
    #finalScoreInfo,
    #timeisUpInfo {
        margin-left:25vw;
    }
}

/* Media query: Screen width (1400px and up) */
@media screen and (min-width: 1400px) {
    #finalScoreInfo,
    #timeisUpInfo {
        margin-left:2vw;
    }
}